.lead {
    max-width: 984px;
    margin: 0 auto 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 798px) {
    .lead {
        margin: 0 auto 88px;
    }
}

@media screen and (max-width: 798px) {
    .lead {
        margin: 0 auto 64px;
    }
}