.grid__photo-grid {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    justify-items: center;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .grid__photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 14px;
    }
}

@media screen and (max-width: 768px) {
    .grid__photo-grid {
        grid-template-columns:repeat(auto-fit, minmax(352px, 1fr));
        gap: 16px;
    }
}

@media screen and (max-width: 425px) {
    .grid__photo-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat (auto-fit, minmax(378px, 1fr));
        row-gap: 12px;
    }
}

@media screen and (max-width: 320px) {
    .grid__photo-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat (auto-fit, minmax(288px, 1fr));
    }
}