.grid__item {
    height: 213px;
    display:  block;
}

@media screen and (max-width: 1024px) {
    .grid__item {
        height: 225px;
    }
}

@media screen and (max-width: 768px) {
    .grid__item {
        height: 264px;
    }
}

@media screen and (max-width: 425px) {
    .grid__item {
        height: 216px;
    }
}

@media screen and (max-width: 320px) {
    .grid__item {
        height: 216px;
    }
}