.grid {
    margin: 0 auto 92px;
    max-width: 1184px;
} 

@media screen and (max-width: 1024px) {
    .grid {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .grid {
        max-width: 720px;
    }
}

@media screen and (max-width: 425px) {
    .grid {
        max-width: 378px;
        margin-bottom: 64px;
    }
}

@media screen and (max-width: 320px) {
    .grid {
        max-width: 288px;
    }
}